<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>menu</name>
    <sid>8580118400032278</sid>
    <event-sheet>Event sheet 3</event-sheet>
    <size>
        <width>1708</width>
        <height>960</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="Layer 0" sid="7404850359502864">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="level1" uid="138">
                    <properties>
                        <type>Button</type>
                        <text>Level 1</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>177</x>
                        <y>117</y>
                        <z>0</z>
                        <width>141</width>
                        <height>22</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="level2" uid="139">
                    <properties>
                        <type>Button</type>
                        <text>Level 2</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>176</x>
                        <y>206</y>
                        <z>0</z>
                        <width>143</width>
                        <height>23</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="level3" uid="140">
                    <properties>
                        <type>Button</type>
                        <text>Level 3</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>175</x>
                        <y>296</y>
                        <z>0</z>
                        <width>141</width>
                        <height>24</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="instructions" uid="141">
                    <properties>
                        <type>Button</type>
                        <text>Instructions</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>469</x>
                        <y>115</y>
                        <z>0</z>
                        <width>173</width>
                        <height>40</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
                <instance type="story" uid="142">
                    <properties>
                        <type>Button</type>
                        <text>Story</text>
                        <tooltip></tooltip>
                        <initial-visibility>Visible</initial-visibility>
                        <enabled>Yes</enabled>
                        <auto-font-size>Yes</auto-font-size>
                        <id-optional></id-optional>
                        <checked>No</checked>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>470</x>
                        <y>282</y>
                        <z>0</z>
                        <width>176</width>
                        <height>40</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
